<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<footer th:fragment="verne42-footer" class="footer">
			<div class="container" style="margin-top: 80px;">
				<small class="text-center copyright">
					 2019 Verne42
				</small>
			</div>

			<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
			<script th:src="@{/webjars/popper.js/1.14.3/popper.js}"></script>
			<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
			<script th:src="@{/webjars/bootstrap-select/1.13.3/js/bootstrap-select.min.js}"></script>
			<script th:src="@{/webjars/jquery-match-height/0.7.2/dist/jquery.matchHeight-min.js}"></script>
			<script th:src="@{/assets/js/main.js}"></script>
			<script th:src="@{/assets/js/bootstrap-tagsinput.js}"></script>
		</footer>
	</body>
</html>