<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<!-- ============================================================== -->
		<!-- wrapper  -->
		<!-- ============================================================== -->
		<div th:fragment="legislators-billID" class="container-fluid  dashboard-content">
			<div class="row">
				<div class="col">
					<div class="page-header">
						<h2 class="pageheader-title">Legislators </h2>
						<br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input type="text" value="BetaSample,Legislature,Association Name,Type of Vote,Abortion" data-role="tagsinput" />
					<input class="form-control" id="oleySearchInput" type="text" placeholder="Search..">
				</div>
			</div>
			<div class="row" th:if="${not #lists.isEmpty(legislators)}">
				<!-- ============================================================== -->
				<!-- striped table -->
				<!-- ============================================================== -->
				<div class="col">
					<table class="table table-striped">
						<tbody id="oleySearchTable">
							<tr th:each="legislator, rowStat: ${legislators}">
								<td>
									<div class="row">
										<!-- We get the legislator with the vote for that billId, there are no more votes -->
										<div class="col-6">
											<div th:if="${not #lists.isEmpty(legislator.getVotes())}">
												<h4 th:utext="${legislator.getVotes().iterator().next().getTypeOfVote()}">Vote</h4>
											</div>

											<img th:src="${'/images/mexico/legislators/' + legislator.getPhoto()}"
											style="height: 300px;" 
											alt="" 
											class="img-rounded img-responsive" />
											<!-- Legislator rating -->
											<p>Rating</p>
											<div class="review-block-rate">
												<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
												<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
												<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
												<button type="button" class="btn-default btn-sm" style="margin-right: 4px;"/>
												<button type="button" class="btn-default btn-sm"/>
											</div>
										</div>
										<div class="col-6">
											<h4 th:utext="${legislator.getName()}">Legislator Name</h4>
											<small>
												<cite th:utext="${legislator.getRepresentedEntity()}">Legislator Entity 
												</cite>
											</small>
											<p>
												<div th:utext="${'&lt;b&gt;Legislature: &lt;/b&gt;' + legislator.getMemberships().iterator().next().getLegislature().getChamber()}">
													Legislature
												</div>
												<div th:utext="${'&lt;b&gt;Association: &lt;/b&gt;' + legislator.getAssociationships().iterator().next().getAssociation().getName()}">
													Association
												</div>
												<div th:utext="${'&lt;b&gt;Email: &lt;/b&gt;' + legislator.getEmail()}">
													email@example.com
												</div>
												<div th:utext="${'&lt;b&gt;Phone: &lt;/b&gt;' + legislator.getPhone()}">
													Phone
												</div>
												<div th:utext="${'&lt;b&gt;Absences: &lt;/b&gt;' + legislator.getCongressAbsences()}">
													Absences
												</div>
												<div th:utext="${'&lt;b&gt;Ideologies: &lt;/b&gt; '}">
													Absences
												</div>
											</p>
										</div>
									</div>
									<!-- Social networks -->
									<div class="row" style="margin-bottom: 35px; margin-top: 20;">
										<div class="col">
											<a href="#" class="fa fa-facebook" style="font-size: xx-large; color: #3B5998;"></a>
										</div>
										<div class="col">
											<a href="#" class="fa fa-twitter" style="font-size: xx-large;  color: #55ACEE;"></a>
										</div>
										<div class="col">
											<a href="#" class="fa fa-instagram" style="font-size: xx-large; color: #ff5700;"></a>
										</div>
										<div class="col">
											<a href="#" class="fa fa-linkedin" style="font-size: xx-large; color: #007bb5;"></a>
										</div>
										
									</div>
									<div class="row" style="margin-bottom: 35px; margin-top: 20;">
										<div class="col">
											<button type="button" class="btn btn-info" data-toggle="collapse" th:attr="data-target=${'#legislator' + legislator.getLegislatorId() + '-comments'}">Comments</button>
										</div>
									</div>
									<div th:attr="id=${'legislator' + legislator.getLegislatorId() + '-comments'}" class="row collapse">
										<div class="col">
											<hr/>
											<div class="review-block">
												<div class="row">
													<div class="col-4">
														<div class="review-block-name"><a href="#">afsg77</a></div>
														<div class="review-block-date">January 29, 2019<br/>1 day ago</div>
													</div>
													<div class="col-8">
														<div class="review-block-rate">
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-default btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-default btn-sm"/>
														</div>
														<div class="review-block-title"><i>This still a beta to get feedback</i></div>
														<div class="review-block-description">This functionality is not yet available but we are working to have it  as fast as possible.</div>
													</div>
												</div>
												<hr/>
												<div class="row">
													<div class="col-4">
														<div class="review-block-name"><a href="#">afsg77</a></div>
														<div class="review-block-date">January 29, 2019<br/>1 day ago</div>
													</div>
													<div class="col-8">
														<div class="review-block-rate">
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-default btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-default btn-sm"/>
														</div>
														<div class="review-block-title"><i>Please hurry!!!!</i></div>
														<div class="review-block-description">I want to comment!!!!</div>
													</div>
												</div>
												<hr/>
												<div class="row">
													<div class="col-4">
														<div class="review-block-name"><a href="#">afsg77</a></div>
														<div class="review-block-date">January 29, 2019<br/>1 day ago</div>
													</div>
													<div class="col-8">
														<div class="review-block-rate">
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-warning btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-default btn-sm" style="margin-right: 4px;"/>
															<button type="button" class="btn-default btn-sm"/>
														</div>
														<div class="review-block-title"><i>A generic comment tittle</i></div>
														<div class="review-block-description">Another generic comment text.</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- ============================================================== -->
				<!-- end striped table -->
				<!-- ============================================================== -->
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End wrapper -->
		<!-- ============================================================== -->
	</body>
</html>